// Common styles of the project
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic');


*{
    font-family: 'PT Sans Narrow', sans-serif;
}


html, body {
    height: 100%;

}
body{
    background: url("../img/general/bg.jpg");

}

.page {

}

.page__wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    height: 50px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
