.table{
    margin: 0 auto;
    width: 1280px;
    height: 860px;
    @include brdr;
    text-align: center;
    .img{
        background: url("../../static/img/general/apnj3s5c.jpg");
        width: 1180px;
        margin: 0 auto;
        height: 100%;
    }
}
h1{
    color: #fff;
}
